html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 60px;
}
